body {
    background-color: #0B0B61;
  }
  
  .jumbotron h1 {
      color: #BFFF00;
  
  }

  .jumbotron p {
    color: #BFFF00;

}
  
  .jumbotron{
      padding-top: 1%;
      background-color:transparent !important;
  }
  
  img {
  margin-top: 5%;
    width: 15%;
  }
  
  .submitFont{
      color: #BFFF00;
  }
  